<%= form_for @user do |f| %>
	<div>
		<p>
		<%= f.label :name %><br/>
		<%= f.text_field :name %>
		</p>
	</div>
	<div>
		<p>
		<%= f.label :email %><br/>
		<%= f.text_field :email %>
		</p>
	</div>
	<div>
		<p>
		<%= f.label :password %><br/>
		<%= f.password_field :password %>
		</p>
	</div>
	<div>
		<p>
		<%= f.label :password_confirmation %><br/>
		<%= f.password_field :password_confirmation %>	
		</p>
	</div>
	<div>
		<p>
		<%= f.submit "Goooooo!" %>
		</p>
	</div>
<% end %>