<%= form_for @product do |f| %>
	
<%if @product.errors.any? %>
	<div class="error explanation">
		<h2><%= pluralize(@product.errors.count, "error")%> prohibited this product from being saved:</h2>
		<ul>
		<% @product.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>

<div>
	<p><%= f.label :name %></p>
	<p><%= f.text_field :name %></p>
</div>
<div>
	<p><%= f.label :price_in_cents %></p>
	<p><%= f.text_field :price_in_cents %></p>
</div>
<div>
	<p><%= f.label :description %></p>
	<p><%= f.text_field :description %></p>
</div>
<div>
	<p><%= f.label :pic_url %></p>
	<p><%= f.text_field :pic_url %></p>
</div>
<div>
	<p><%= f.submit %></p>
</div>



<% end %>